<p>Header Work</p>
<div cass="container">
  <div class="avatar">
    <img
      src="https://github.com/SampadaKayat/lab-whatsaapsampada/blob/main/avatar.jpeg"
      alt=""
    />
  </div>
  <div class="menus">
    <img
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/7027362b355de42f6cb13045d2aa1fc9efd9af2b/community.svg"
      alt=""
    />
    <img
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/7027362b355de42f6cb13045d2aa1fc9efd9af2b/statusIcon.svg"
      alt=""
    />
    <img
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/7027362b355de42f6cb13045d2aa1fc9efd9af2b/chatIcon.svg"
      alt=""
    />
    <img
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/7027362b355de42f6cb13045d2aa1fc9efd9af2b/moreVertIcon.svg"
      alt=""
    />
  </div>
</div>
